body {
    text-align: center;
    margin: 0;
    }

h1, h2, h3 {
    font-family: "Raleway";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #0d2c40;
}

h1 {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 20px;
}

h3, a {
    font-size: 18px;
    color: #f15b31;
}

p {
    font-family: "Droid Serif";
    font-size: 18px;
    line-height: 26px;
    color: #0d2c40;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-color: white;
}

header {
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20px;
}

nav {
    background-color: #00a6b3;
    color: #ffffff;
    padding: 20px 0;
}

main {
    max-width: 850px;
    margin: 35px auto;
}

img {
    margin: 40px 8px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0d2c40;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.copyright {
    font-family: Raleway;
    float: left;
    color: #ffffff;
}

.message {
    font-family: Raleway;
    float: right;
    color: #ffffff;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.name {
    color: #F15B31;
    font-weight: 700;
}